
  

<button class="ui fluid blue button" onclick="showHideLeague()" id="leaguebutton">
              Add a League? <i class="arrow circle down icon"></i>
            </button>

<div id="league">
  
<form class="ui center aligned stacked segment form" action="/dashboard/addleague" method="POST">


  <div class="two fields">
  <div class="field">
    <label for="name" class ="lbl">League Name</label>
    <input placeholder="Name" type="text" name="name" autofocus required>
  </div>
  <div class="field">
    <label for="country" class ="lbl">Country</label>
    <input placeholder="Country" type="text" name="country" autofocus required>
  </div>
    </div>
  <div class="two fields">
    <div class="field">
      <label for="continent" class ="lbl">Continent of the league</label>
<select name="continent">
  
  <option value="Europe">Europe</option>
  <option value="North America">North America</option>
  <option value="South America">South America</option>
  <option value="Asia">Asia</option>
  <option value="Oceania">Oceania</option>
  </select>
    </div>
    <div class="field">
    <label for="logo" class ="lbl">League Logo</label>
    <input placeholder="Logo URL" type="text" name="logo" autofocus required>
  </div>
      </div>
  <button class="ui blue submit button">Add League</button>
</form>
  
</div>
