<form class="ui stacked segment form" action="/dashboard/addleague" method="POST">
  <div class="field">
    <label>League Name</label>
    <input placeholder="Name" type="text" name="name" autofocus required>
  </div>
  <div class="field">
    <label>Country</label>
    <input placeholder="Country" type="text" name="country" autofocus required>
  </div>
    <div class="field">
    <label>League Logo</label>
    <input placeholder="Logo URL" type="text" name="logo" autofocus required>
  </div>
  <button class="ui blue submit button">Add Playlist</button>
</form>