<form class="ui stacked segment form" action="/league/{{league.id}}/addteam" method="POST">
  <div class="two fields">
    <div class="field">
      <label for="title">Name</label>
      <input type="text" name="title" autofocus required title = "Please include a valid Name"
      placeholder="Name">
    </div>
    <div class="field">
      <label for="position">Position</label>
      <input type="number" name="position" required title = "Please include a valid Position"
      placeholder="Position"  >
    </div>
     </div>
  <div class="two fields">
    <div class="field">
      <label for="manager">Manager</label>
      <input type="text" name="manager" required title = "Please include a valid Manager"
      placeholder="Manager"  >
    </div>
    <div class="field">
      <label for="image">Crest</label>
      <input type="text" name="crest" required title = "Please include a valid URL"
      placeholder="Image URL"  >
    </div>
  </div>
  <div class="three fields">
    <div class="field">
    <label>Champions League</label>  
    <input type="radio" name="europeanleague" value="Champion's League">
          </div>
    <div class="field">
    <label>Europa League</label>
    <input type="radio" name="europeanleague" value="Europa League">
          </div>
    <div class="field">
    <label>N/A</label>
    <input type="radio" name="europeanleague" value="No European Football">
    </div>
  </div>
  <button class="ui green submit button">Add Team</button>
</form>