<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.songs}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{artist}}
        </td>
        <td>
          {{genre}}
        </td>
        <td>
          {{duration}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

