 {{#each comments}}
   <div class="ui comment">
     <a class="ui avatar">
      <img class="ui avatar" src={{avatar}}>
     </a>
    <div class="content">
      <a class="author">{{username}}</a>
      <div class="metadata">
        <span class="date">{{date}}</span>
      </div>
      <div class="text">
        {{text}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
 {{/each}}