<nav class="ui menu" id="menu">
  <header class="ui header item"> <a href="/"> <i class="volleyball ball icon"></i>Football Leagues</a></header>
  
  <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About</a>
  </div>
  <div class="right menu">

  
      <button class="ui blue button" id="tgl" onclick = "darkMode()">
    Toggle Darkmode <i class="window maximize outline icon"></i>
  </button>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>