<nav class="ui menu" id="menu">
  <header class="ui header item"> <a href="/"> <i class="volleyball ball icon"></i>Football Leagues</a></header>
  

  <div class=" menu">
    <button class="ui toggle green button" onclick = "darkmode()">
    Toggle Darkmode <i class="window maximize outline icon"></i>
  </button>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>