<nav class="ui menu" id="menu">
  <header class="ui header item"> <a href="/start"> <i class="volleyball ball icon"></i>Football Leagues</a></header>
  
  <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About</a>
   <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
  <div class="right menu">

<span class="ui name">{{fullname}} <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span></span>
      <button class="ui blue button" id="tgl" onclick = "darkMode()">
    Toggle Darkmode <i class="window maximize outline icon"></i>
  </button>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>