<nav class="ui menu" id="menu">
  <header class="ui header item"> <a href="/"> <i class="volleyball ball icon"></i>Football Leagues</a></header>
  <button class="ui red button" onclick = "darkmode()">
    Toggle Darkmode
  </button>
  <div class="right menu">
    
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="about" class="item" href="/about"> About</a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>