{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The league app team:
  </h2>
<p>
  Contact us at: realcompany123@web.com <br>
  or 353 083 123123456
  </p>
  <div class="ui centered cards">
{{#each developers}}
      {{> listdevelopers}}
{{/each}}
  </div><br>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1188.5536785828897!2d-2.9613183560575465!3d53.43078869345479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b21654b02538b%3A0x84576a57e21973ff!2sAnfield!5e0!3m2!1sen!2sie!4v1616347923356!5m2!1sen!2sie"
          width="600" height="450" allowfullscreen="" loading="lazy"></iframe>
  </iframe>


</section>
<div class = "ui segment">
<h3 class="ui dividing header">Comments</h3>
<div class="ui comments"> 
{{>listcomments}}
</div>
{{>addcomment}}
    
</div>