{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The league app team:
  </h2>

  <div class="ui centered cards">
{{#each developers}}
      {{> listdevelopers}}
{{/each}}
  </div>
</section>