


   {{> menu id="dashboard"}}

<section class="ui segment">
  <button class="ui red button" onclick="showHideLeague()">
              Add A League! <i class="user icon"></i>
            </button>
<div id="league">
<div  onclick="hideWelcomeLeague()">
   </div>
  {{> addleague}}
</div>
  <div class="ui grid">
  {{> listleagues}}
  </div>
</section>
  
