{{> menu id="dashboard"}}
<div id="league">
<div  onclick="hideWelcomeLeague()">
   </div>
  {{> addleague}}
</div>
 

<section class="ui segment">
  <div class="ui grid">
  {{> listleagues}}
  </div>
</section>
  
