{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{league.title}}
  </h2>
  {{> addteam}}
  <div class="ui link cards">
  {{> listteams}}
  </div>
</section>
<script>$('table').tablesort()</script>