
{{> menu}}      
<section class="ui center aligned middle aligned two column grid segment">
        <div class="ui column">
          <h1>Welcome to the Football App, {{fullname}}!</h1>

          <p>
            This app will allow users to create and maintain a collection of
            soccer leagues.
          </p>
        
          <div class="buttons">
            <button class="ui blue button" onclick="showHide()">
              Read more <i class="arrow circle right icon"></i>
            </button>
            <button
              class="ui green button"
                onclick="alert('Thanks!!!!! ')"
            >
              Like it? <i class="thumbs up icon"></i>
            </button>
            <button class="ui red button" onclick="welcomeUser()">
              Who are you? <i class="user icon"></i>
            </button>
            <div id="readmore" class="ui message">
              <div
                id="welcomeuser"
                class="ui message"
                onclick="hideWelcome()"
              ></div>
              <p>
                This league app allows users to create leagues and add
                football teams to each league. Functionality of this 
                app may improve over the coming months?
              </p>
            </div>
          </div>
          <div class="ui divider"></div>

<h3 class="ui center aligned header">The League App now contains:</h3>
<div class="ui two statistics">
    <div class="ui huge statistic">
        <div class="value">
            {{totalLeagues}}
        </div>
        <div class="label">
            Leagues
        </div>
    </div>
    <div class="ui huge statistic">
        <div class="value">
            {{totalTeams}}
        </div>
        <div class="label">
            Teams
        </div>
    </div>
</div>
        </div>
        <div class="ui column">
          <div class="ui grid">
            <div class="ui center aligned middle aligned eight wide column">
              <img
                class="ui centered small image"
                src="https://i.imgur.com/P25gS5E.png"
              />
            </div>
            <div class="ui center aligned middle aligned eight wide column">
              <img
                class="ui centered small image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/LaLiga.svg/1200px-LaLiga.svg.png"
              />
            </div>
            <div class="ui center aligned middle aligned eight wide column">
              <img
                class="ui centered small image"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Ligue_1_Uber_Eats.svg/1200px-Ligue_1_Uber_Eats.svg.png"
              />
            </div>
            <div class="ui center aligned middle aligned eight wide column">
              <img
                class="ui centered small image"
                src="https://upload.wikimedia.org/wikipedia/en/d/df/Bundesliga_logo_%282017%29.svg"
              />
            </div>
          </div>
        </div>
      </section>
 