/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
    background-image: repeating-linear-gradient(to right,red, orange);

}

h1 {
  font-style: italic;
  color: #373fff;
}
#readmore {
  display: none;
}
#welcomeuser {
  display: none;
}
.bold{
  font-weight: bold;
  text-size:120%;
}
.ui.medium.image{
  height:20em;
  width: auto;
}
