/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
    background-image: repeating-linear-gradient(to right,lightgray, #262626);

}
.name{
  font-size:150%;
  padding-top:.4em;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}
.ui.comments .comment img.avatar,
.ui.comments .comment .avatar img {
  display: block;
  margin: 0em auto;
  width: 100%;
  height: auto; // 100% doesn't work but auto does
  border-radius: @avatarBorderRadius;
}
h1 {
  font-style: italic;
  color: #4d54ff;
}
#readmore {
  display: none;
}
#welcomeuser {
  display: none;
}
#league{
  display:none;
}
.ui.fluid.segment.form{
  display:none;
}
#leaguebutton{
  margin:1em 0 2em;
}
.bold{
  font-weight: bold;
  text-size:120%;
}
.ui.medium.image{
  height:21em;
  width: 21em;
}
td .ui.small.image{
  height:10em;
  width: auto;
}
.ui.comments
{
    max-height: 100em;
    overflow-y: scroll;
}
iframe{
  margin: 2em 0 0 0;
   border: 1em solid grey;
  border-radius: 1em;
}