/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
    background-image: repeating-linear-gradient(to right,lightgray, #262626);

}

h1 {
  font-style: italic;
  color: #4d54ff;
}
#readmore {
  display: none;
}
#welcomeuser {
  display: none;
}
#league{
  display:none;
}
#leaguebutton{
  margin:1em 0 2em;
}
.bold{
  font-weight: bold;
  text-size:120%;
}
.ui.medium.image{
  height:20em;
  width: auto;
}
td .ui.small.image{
  height:10em;
  width: auto;
}
iframe{
  margin: 2em 0 0 0;
   border: 1em solid grey;
  border-radius: 1em;
}